# IDE
.idea/*
*/*~

# Rozne
/app/bootstrap.php.cache
/app/logs/*
/build/
/composer.phar

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
