{% extends 'MyTreneoBundle::layout.html.twig' %}

{% block title %}Treneo - karta ogłoszenia{% endblock %}

{% block content %}
Ogłoszenie:
    <p>{{ offer.surname }}</p>
    <p>{{ offer.name }}</p>
    <p>{{ offer.phone }}</p>

{% endblock %}
