<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Treneo{% endblock %}</title>
        {% stylesheets "@main_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% javascripts "@main_js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>

        <div class="content_header">
            <a href="{{ path('_start') }}"><h1>Treneo</h1></a>
        </div>

        <div class="content">
           {% block content %}
           {% endblock %}
        </div>
    </body>
</html>
