{% extends 'MyTreneoBundle::layout.html.twig' %}

{% block title %}Treneo - główna{% endblock %}

{% block content_header '' %}

{% block content %}
<h1>Start</h1>
    <a href="{{ path('_offer_add') }}">Dodaj ofertę</a>
{% endblock %}
