body {
    background-color: silver;
    font-family: "Arial";
}

h1 {
    font-size: 30px;
}


div.content_header {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}
div.content {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    padding: 15px;
}

