<div class="comment_add">
<form action="{{ path("_comment_add", {"offer_id":offer_id}) }}" method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p><input type="submit" value="Dodaj komentarz"></p>
</form>
</div>